.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 0 0 8px 8px;
  background: #1b1b1b;
  height: 70px;
  align-items: center;
  gap: 1rem;

  .header-item {
    cursor: pointer;
    background: #1b1b1b;
    font-weight: 500;
  }

  .header-item:hover {
    font-weight: 600;
    color: #62ba1b;
  }
}
