
.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .social-buttons {
    padding-inline: 0;
  }
}

@media (max-width: 600px) {
  .social-buttons {
    gap: 0.6rem 0.6rem;
  }
}
